<div class="body"
     [ngStyle]="{'-webkit-filter': !commentpopup? 'blur(0)' : 'blur(6px)'}">


  <div class="leftbox">
    <div class ="leftboxdata">
    <div class="home">
      <a href="/">#Home</a>
    </div>
    <div class="trending">
      <a href="/">#Trending</a>
    </div>
    </div>
  </div>

  <div class="middlebox">

    <div class="posttweet">
      <form (ngSubmit)="posttweet()" [formGroup]='tweetform'>
        <input formControlName="tags" placeholder="tags" type="tel">
        <input formControlName="url" placeholder="Url" type="url">
        <textarea formControlName="postDescription" placeholder="enter tweet" required="required"></textarea>
        <input name="post" type="submit" value="Tweet">
      </form>
    </div>

    <div *ngFor="let post of posts" class="tweetbox">
      <div class="postheader">
        <div class="image">
          <img height=40 src="../../../../assets/UserLogo.jpg" style="border-radius: 50%" width="35">
        </div>

        <div class="name">
          <a href="u"> {{post.user}} </a>
        </div>

        <div class="verfied">
          <img height=15 src="../../../../assets/verifiedlogo.jpeg" style="border-radius: 50%" width="18">
        </div>

        <div class="time">
          {{post.date}}
        </div>
      </div>


      <div (click)="postdetails(post.postid)" class="postbody">
        <div class="postdescription">
          {{post?.postDescription}}
        </div>
        <div class="url">
          {{post?.url}}
        </div>
        <div class="tags">
          {{post?.tags}}
        </div>
      </div>

      <div class="postfooter">

        <div class="comment">
          <button (click)="popup(post)">
            <fa-icon [icon]="faComment"></fa-icon>
            {{post.commentcount}}
          </button>
        </div>

        <div class="retweet">
          <fa-icon [icon]="faRetweet"></fa-icon>
        </div>
        <div class="like">
          <fa-icon [icon]="faHeart"></fa-icon>
        </div>

        <div class="share">
          <a href="">
            <fa-icon [icon]="faShare"></fa-icon>
          </a>

        </div>
      </div>
    </div>

  </div>


  <div class="boxright">
    <div class="search-container">
      <form>
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><fa-icon [icon]="faSearch"></fa-icon> </button>
      </form>
    </div>
  </div>
</div>


<body>
<div *ngIf="commentpopup" class="loginbox">
  <div class="error"> </div>
  <div class="closelogo" (click)="popup(popupdata)">
    <fa-icon [icon]="ffaTimes"></fa-icon>
  </div>


  <div class="tweetbox">
    <div class="postheader">
      <div class="image">
        <img height=40 src="../../../../assets/UserLogo.jpg" style="border-radius: 50%" width="35">
      </div>

      <div class="name">
        <a href="u"> {{popupdata.user}} </a>
      </div>

      <div class="verfied">
        <img height=15 src="../../../../assets/verifiedlogo.jpeg" style="border-radius: 50%" width="18">
      </div>

      <div class="time">
        {{popupdata.date }}
      </div>
    </div>

    <br>
    Reply to:

    <div  class="postbody">
      <div class="postdescription">
        {{popupdata?.postDescription}}
      </div>
      <div class="url">
        {{popupdata?.url}}
      </div>
      <div class="tags">
        {{popupdata?.tags}}
      </div>
    </div>
  </div>

    <form (ngSubmit)="postcomment(popupdata)" [formGroup]='commentform'>
      <textarea formControlName="comment_text" placeholder="enter tweet" required="required"></textarea>
      <input name="post" type="submit" value="Tweet">
    </form>
</div>
</body>






