body{
  margin: 0;
  padding: 0;
  background: #24292e;
  font-family: sans-serif;

}

.error{
  color: red;
  text-align: center;

}


.registerbox{
  width: 420px;
  height: 520px;
  background: #333333;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
  border-radius: 10px;
  opacity: .98;
}

.registerbox p{
  margin: 0;
  padding: 0;
  font-weight: bold;

}

.registerbox h2{
  margin: -10px;
  padding: 0 0 20px;
  text-align: center;
  font-size: 30px;

}

.registerbox form{
  margin-top: 20px;
}


.registerbox input {
  width: 100%;
  margin-bottom: 20px;
  color: white;
}

.registerbox input[type="text"]{
  width: 50%;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;

}

.registerbox input[type="email"], input[type="password"], input[type="tel"]{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;

}

.registerbox input[type="submit"]{
  border: none;
  background: #fb2525;
  outline: none;
  height: 40px;
  font-size: 18px;
  border-radius: 20px;
}

.registerbox input[type="submit"]:hover{
  background: #ffc107;
  cursor: pointer;

}

.registerbox a{
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgray;
}

.registerbox a:hover{
  color: #ffc107;
}
