<body>
<div class="changeppassword"  *ngIf="success">
  <div class="error" *ngIf="error">{{message}}</div>
  <h2>Forgot password </h2>
  <form  [formGroup]="changepasswordForm" (ngSubmit)="onchangepasswordSumbit()">

    <p>Password</p>
    <input type="password" name="password" formControlName="password" placeholder="Enter new Password"  >

    <input type="submit" name="Submit">

    <a href="/Login">Login to an account</a><br>
    <a href="/Register">Don't have an account</a>
  </form>
</div>


<div class="changeppasswordsuccess"  *ngIf="!success">
  Password change successfully
</div>
</body>


