<div class="body">


  <div class="leftbox">
    <div class ="leftboxdata">
      <div class="home">
        <a href="/">#Home</a>
      </div>
      <div class="trending">
        <a href="/">#Trending</a>
      </div>
    </div>
  </div>

  <div class="middlebox">

    <div class="posttweet" >
      <div class="postheader">

        <div class="image">
          <img height=40 src="./assets/UserLogo.jpg" style="border-radius: 50%" width="35">
        </div>

        <div class="name">
          <a href="u">{{user}} </a>
        </div>

        <div class="verfied">
          <img height=15 src="./assets/verifiedlogo.jpeg" style="border-radius: 50%" width="18">
        </div>

        <div class="time">
          {{ date }}
        </div>
      </div>


      <div class="postbody">
        <div class="postdescription">
          {{postDescription}}
        </div>
        <div class="url">
          {{url}}
        </div>
        <div class="tags">
          {{tags}}
        </div>

      </div>



      <div class="postfooter">

        <div class="comment" (click)="popup(postdata)">
          <fa-icon [icon]="faComment"></fa-icon>
        </div>

        <div class="retweet">
          <fa-icon [icon]="faRetweet"></fa-icon>
        </div>
        <div class="like">
          <fa-icon [icon]="faHeart"></fa-icon>
        </div>

        <div class="share">
          <a href="">
            <fa-icon [icon]="faShare"></fa-icon>
          </a>

        </div>
      </div>

      <div class="posttweet" *ngIf="commentpopup">
      <form (ngSubmit)="postcomment(popupdata)" [formGroup]='commentform'>
        <textarea formControlName="comment_text" placeholder="enter comment" required="required"></textarea>
        <input name="post" type="submit" value="Tweet">
      </form>
      </div>

    </div>


    <div *ngFor="let comment of comments" class="tweetbox">
      <div class="postheader">
        <div class="image">
          <img height=40 src="./assets/UserLogo.jpg" style="border-radius: 50%" width="35">
        </div>

        <div class="name">
          <a href="u"> {{comment.user}}</a>
        </div>

        <div class="verfied">
          <img height=15 src="./assets/verifiedlogo.jpeg" style="border-radius: 50%" width="18">
        </div>

        <div class="time">
          {{comment.date}}
        </div>
      </div>


      <div class="postbody">
        <div class="postdescription">
          {{comment.comment_text}}
        </div>

      </div>
    </div>
  </div>


  <div class="boxright">
    <div class="search-container">
      <form>
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><fa-icon [icon]="faSearch"></fa-icon> </button>
      </form>
    </div>
  </div>
</div>

