<body>
<div class="changeppassword"  *ngIf="success">
  <div class="error" *ngIf="error">{{message}}</div>
  <h2>Forgot password</h2>
  <form  [formGroup]="changepasswordForm" (ngSubmit)="onchangepasswordSumbit()">

    <p>Email</p>
    <input type="email" name="username" formControlName="username" placeholder="Enter Email"  >

    <input type="submit" name="Login">

    <a href="/Login">Login to an account</a><br>
    <a href="/Register">Don't have an account</a>
  </form>
</div>


  <div class="changeppasswordsuccess"  *ngIf="!success">
  An email email is send to your registered account.Please check you email id and the email link is valid for only 30 min
  </div>
</body>


