* {
  box-sizing: border-box;
}

.body{
  padding: 0;
  margin: 0;
  background: black;
  color: white;
  width: 100%;
  height: 100%;
  position: fixed;
}

.body:after{
  content: "";
  display: table;
  clear: both;
}


.leftbox{
  width: 33.3%;
  float: left;
  height: auto;
  text-align: center;

}


.leftboxdata{
  margin-top: 20%;
  flex-direction: row;
  position: relative;
  box-sizing: border-box;
}

.home, .trending{
  font-size: 30px;
  position: relative;
  margin-top: 5%;

}

.home a, .trending a{
  color: white;
}

.home a:hover, .trending a:hover{
  cursor: pointer;
  text-decoration: underline;
  color: #1DA1F2;
}



.boxright{
  width: 33.3%;
  float: left;
  height: auto;
  text-align: center;
}


.search-container{
  margin-top: 1%;
  width: 100%;
  flex-direction: row;

}

.search-container input[type=text]{
  float: left;
  width: 80%;
  margin-left: 5%;
  padding: 7px 10px;
  margin-top: 8px;
  background: transparent;
  font-size: 17px;
  border: 2px solid white;
  cursor: pointer;
  border-radius: 50px;
}

.search-container button{
  margin-right: 3%;
  margin-top: 8px;
  background-color: transparent;
  border: none;
  color: white;
  text-align: center;
  cursor: pointer;
  float: left;
  padding: 7px 20px;
  font-size: 170%;

}



.middlebox{
  width: 33.3%;
  float: left;
  height: auto;
  border-left: 2px solid grey;
  border-right: 2px solid grey;
}



.posttweet{
  width: 100%;
  height: 100%;
  background: transparent;
  color: #fff;
  box-sizing: border-box;
  opacity: .95;
  border-bottom: 2px solid grey;
  position: relative;
  display: flex;
  flex-direction: column;
}

.backgroundcard {
  position: absolute;
  width: 100%;
  height: 40%;
  margin-top: 0;
  border: none;
  background-image: url("https://img.freepik.com/free-vector/white-abstract-background_23-2148810113.jpg?size=626&ext=jpg");

}
.userimage{
  margin-left: 1%;
  width: 30%;
  height: 50%;

}

.userimage img {
  position: relative;
  border-radius: 50%;
  margin-top: 60%;
  margin-left: 5%;
  width: 100%;
  height: 60%;
  float: left;
  overflow-y: auto;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

.details{
  position: relative;
  margin-left: 10%;
  float: left;
  width: 30%;
  height: 50%;
  margin-top: 5%;
  color: white;
  padding: 10px 7px;
  text-transform: uppercase;
}

.details small{
  text-transform: none;
}

.commentbox{
  border-top: 2px solid grey;
}
.postheader{
  width: 100%;
  height: 100%;

  color: #fff;
  transform: translate(0%, 0%);
  box-sizing: border-box;
  padding: 20px 10px;
  opacity: .9;
  border-top: 2px solid grey;

}

.userlogoimage{
  float: left;
  border-radius: 50%
}
.name{
  float: left;
  margin-left: 1%;
  font-size: 1vw;
}

.name a{
  text-decoration: none;
  font-size: 18px;
  line-height: 20px;
  color: white;
}

.name a:hover{
  color: #dbdbdb;
  text-decoration: underline;
}

.verfied{
  float: left;
  border-radius: 50%;
  margin-left: 1%;
}

.time{
  float: right;
}

.postbody{
  width: 100%;
  height: 100%;
  background: transparent;
  color: #fff;
  margin-top: 1%;
  margin-left: 9%;
  box-sizing: border-box;
  padding: 10px 10px;
  opacity: .9;
  cursor: pointer;
}

.postfooter{
  position: relative;
  margin-bottom: 1%;
  width: 92%;
  height: 5%;
  transform: translate(4%, 4%);
  padding: 1%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;

}


.comment{
  float: left;
  width: 32%;
  overflow-y: auto;
}

.comment :hover{
  color: #1DA1F2;

}
.comment button {
  background-color: transparent; /* Green */
  border: none;
  color: white;
  text-align: center;
  cursor: pointer;
}

.comment button {
  background-color: transparent; /* Green */
  border: none;
  color: white;
  text-align: center;
  cursor: pointer;
}

.retweet{
  width: 32%;
  float: left;
  overflow-y: auto;
}

.like{
  width: 32%;
  float: left;
  overflow-y: auto;
}

.share{
  width: 5%;
  float: right;
  padding-left: 10px;
}


.rightbox{
  text-align: center;

}

.closelogo{
  cursor: pointer;

}




body{
  margin: 0;
  padding: 0;
  background: #24292e;
  font-family: sans-serif;

}

.error{
  color: red;
  text-align: center;

}

.loginbox{
  width: 30%;
  height: 50%;
  background-color: rgba(16, 13, 14, 0.8);
  color: #fff;
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
  border-radius: 10px;
  opacity: .98;
}



.loginbox form{
  margin-top: 1px;
}



.loginbox input {
  width: 100%;
  margin-bottom: 20px;
}


.loginbox textarea {
  width: 100%;
  height: 15ch;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 20px;
  background-color: transparent;
  color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.loginbox input[type="submit"]{
  border: none;
  background: #fb2525;
  outline: none;
  height: 40px;
  font-size: 18px;
  border-radius: 20px;
}

.loginbox input[type="submit"]:hover{
  background: #ffc107;
  cursor: pointer;
}



.closelogo{
  cursor: pointer;

}







